#
# PATTERN:
#
# file/directory            user
#

*.md                        @RajBasu24

C Projects                  @RajBasu24

Java Projects               @RajBasu24

Prolog Projects             @RajBasu24

Python Projects             @RajBasu24

Shell Scripts Projects      @RajBasu24

VHDL Projects               @RajBasu24
